{% extends 'base.html' %}
{% block body %}
Hello 111
<canvas id="myChart" width="400" height="200"></canvas>

<form id="get_data_form">
    <input type="hidden" value="20" name="longitude" id="id_longitude">
    <input type="hidden" value="20" name="latitude" id="id_latitude">

    <div class="form-group">
        <label for="id_data_type">Data type:</label>
        <select class='form-control col-sm-6 col-md-4 col-lg-2' name="data_type" id="id_data_type" required>
            <option value="CO">CO</option>
            <option value="PM2.5">PM2.5</option>
            <option value="PM10">PM10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="id_radius">Radius:</label>
        <input class='form-control col-sm-6 col-md-4 col-lg-2' type="number" min="0" name="radius" step="any" required id="id_radius">
    </div>
    <div class="form-group">
        <label for="id_after">Begin date:</label>
        <input class='form-control col-sm-6 col-md-4 col-lg-2' type="date" name="after" required id="id_after">
    </div>
    <div class="form-group">
        <label for="id_before">End date:</label>
        <input class='form-control col-sm-6 col-md-4 col-lg-2' type="date" name="before" required id="id_before">
    </div>
    <button type="button" class='btn-primary' onclick="makeChart()">Click me!</button>
</form>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Time',
                data:[],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                lineTension:0,
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
    {% load static %}
    <script src="{% static 'charts/HttpClient.js' %}"></script>
    <script>
        let i = 0
        function makeChart(){
            const form = document.getElementById('get_data_form')
            if(!form.checkValidity()) return


            const httpClient = new HttpClient()
            const formData = new FormData(form)
            console.log(httpClient.GETArgs(formData))
            httpClient.getJSONFromForm("{% url 'GetData' %}", formData, data => {
                myChart.data.labels = data.labels;
                myChart.data.datasets[0].data = data.values;
                myChart.update();
            });
        }
    </script>
{% endblock %}

