{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="">

{% load static %}
<link rel='stylesheet' href="{% static 'Air/css/map.css' %}">
{% endblock %}


{% block body %}
<canvas id="myChart" width="400" height="200"></canvas>
<div id='mapid'></div>

<form id="get_data_form">
    <button type="button" class='btn-primary my-2 col-sm-6 col-md-4 col-lg-2' id="send_request_id">
        Show data
    </button>

    <input type="hidden" value="{%if lng%} {{lng}} {% else %} 21.017532 {% endif %}" name="longitude" id="id_longitude">
    <input type="hidden" value="{%if lat%} {{lat}} {% else %} 52.237049 {% endif %}" name="latitude" id="id_latitude">

    <div class="form-group">
        <label for="id_data_type">Data type:</label>
        <select class='form-control col-sm-6 col-md-4 col-lg-2' name="data_type" id="id_data_type" required>
            <option value="CO">CO</option>
            <option value="PM2.5">PM2.5</option>
            <option value="PM10">PM10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="id_radius">Radius:</label>
        <input class='form-control col-sm-6 col-md-4 col-lg-2' value=1.5 type="number" min="0" name="radius" step="any"
            required id="id_radius">
    </div>
    <div class="form-group">
        <label for="id_after">Begin date:</label>
        <input class='form-control col-sm-6 col-md-4 col-lg-2' type="date" value="2018-12-17" name="after" required id="id_after">
    </div>
    <div class="form-group">
        <label for="id_before">End date:</label>
        <input class='form-control col-sm-6 col-md-4 col-lg-2' type="date" value="2018-12-25" name="before" required id="id_before">
    </div>
</form>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>

{% load static %}
<script src="{% static 'Air/js/utils/HttpClient.js' %}"></script>
{% load static %}
<script src="{% static 'Air/js/utils/map_utils.js' %}"></script>
{% load static %}
<script src="{% static 'Air/js/charts/chart_map.js' %}"></script>
{% load static %}
<script src="{% static 'Air/js/charts/charts.js' %}"></script>

<script>
    const button = document.getElementById('send_request_id')
    button.onclick = () => {
        makeChart("{% url 'GetAreaData' %}")
    }
</script>

{% endblock %}