{% extends 'base.html' %}
{% block body %}
<form action = "{% url 'add_new_device' %}">
    <button type="submit" class="btn btn-primary my-3">Add new device</button>
</form>
{% if devices %}
    <h2>This is a list of your devices:</h2>
    <div class="list-group">
        {% for device in devices %}
            <a href="{% url 'device_info' id=device.id %}" class="list-group-item list-group-item-action">
               Device name: {{device.name}}
            </a>
        {% endfor %}
    </div>
{% else %}
    <h2>You have no devices</h2>
{% endif %}

{% endblock %}