{% extends 'base.html' %}
{% block body %}
<h2>Login</h2>

{% if form.errors %}
<p style="color:red">Your username and password didn't match. Please try again.</p>
{% endif %}
{% if messages %}
  {% for message in messages %}
    <h3 style="color:blue">{{message}}</h3>
  {% endfor %}
{% endif %}
{% if errors %}
  {% for error in errors %}
    <h3 style="color:black">{{error}}</h3>
  {% endfor %}

{% else %}

  {% if user.is_authenticated%}
      <p>You are already logged in</p>
  {% else %}
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  {% for field in form %} 
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
        </p>
  {% endfor %}



  <input type="submit" value="login">
  <input type="hidden" name="next" value="{{ next }}">
  </form>
  {% endif %}
{% endif %}
{% endblock %}